/*main.css*/

body {
  background-color: #F4E2B3;
  font-family: "Courier New", monospace;
}
h1 {
  color: #FF6666; /*pink*/
  text-transform: uppercase;
  text-shadow: -1px -1px #FFF,  
    1px -1px #FFF,
    -1px 1px #FFF,
     1px 1px #FFF,
     -3px -3px #84E9F4; /*blue*/
}
p {
  font-weight: bold;
  text-shadow: -2px -2px #FFF;
}

#call-to-action{
  display: none;
}

