/*
  Main Page Styling
*/

/* Mobile font size */
html {
  font-size: 9px;
}

/* Tablet font size */
@media (min-width: 400px) {
  html {
    font-size: 11px;
  }
}

/* Computer font size */
@media (min-width: 600px) {
  html {
    font-size: 14px;
  }
}
  

body {
  min-width: 320px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #F4E2B3;
  
  font-family: "Courier New", monospace;
  text-align: center;
}

h1 {
  margin: 2rem;
  font-size: 3rem;
  text-align: center;
  color: #FF6666; /* pink */
  text-transform: uppercase;
  text-shadow: 
    -0.1rem -0.1rem #FFF,    /* white outline */
     0.2rem -0.2rem #FFF,    /* white outline */
    -0.1rem  0.1rem #FFF,    /* white outline */
     0.1rem  0.1rem #FFF,    /* white outline */
    -0.5rem -0.5rem #84E9F4; /* blue shadow   */
}

h3 {
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  text-shadow: -0.15rem -0.15rem #FFF;
}

footer {
  position: fixed;
  bottom: 0;
  width: calc(100vw - 2rem);
  max-width: 600px;
  padding: 1rem;
}

footer a:visited {
  color: black;
}




