/*
  Preview Area Styling
*/

div#preview-area {
  display: block;
  height: 7rem;
}

div#preview-area > div.component.loading {
  background-color: blue;
}

div#preview-area > div.component.succeeded {
  background-color: green;
}

div#preview-area > div.component.failed {
  background-color: red;
}

div#preview-area > div.component > img {
  width: 11.11vw; /* 7 spaces, with a space to the left and right, equals 9 */
  height: 11.11vw;
}

